@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

:root {
  --theme: 50, 50, 50;
}

* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
}

html {
  font-size: 14px;
  min-height: 100vh;
  background-color: rgb(var(--theme));
}

body {
  min-height: 100vh;
  background: rgb(var(--theme));
  overflow-x: hidden;
  color: #ddd;
  letter-spacing: 0.1rem;
}

